$blue-700: #1976D2;
minesweeper {
  .main-toolbar {
    .toolbar-background {
      background: $blue-700;
    }
    .toolbar-title {
      color: #f0f0f0;
    }
  }
  .no-scroll .scroll-content{
    overflow: hidden;
  }
}