<ion-header>
  <ion-navbar class="main-toolbar">
    <button ion-button menuToggle icon-only>
      <ion-icon color="light" name='menu'></ion-icon>
    </button>
    <ion-title>
      My Minesweeper
    </ion-title>
  </ion-navbar>

  <ion-navbar>
    <ion-title>
      <ion-icon [name]="icon" [color]="color" style="font-size:25px;"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="no-scroll">
  <div *ngFor="let row of mines">
    <mine *ngFor="let mine of row"
      [mine]="mine"
      [total]="mines.length"
      [showContent]="mine.showContent"
      [isPressed]="mine.isPressed"
      [isGameLost]="isGameLost"
      (mineTapped)="mineTapped(mine.pos.x, mine.pos.y)"
    >
      >
    </mine>
  </div>
  <ion-icon name="sad"></ion-icon>
</ion-content>

<!-- Preload images -->
<img src="./assets/images/bomb.svg" alt="" style="display:none">
<img src="./assets/images/flag.svg" alt="" style="display:none">



